.App {
  text-align: center;
  background: url('euro.jpg') no-repeat center;
  background-size: cover;
  height: 100vh;
  max-height: 100vh;
}
main {
  display: flex;
  justify-content: center;
}
.chart-container {
  width: 600px;
  height: 301px;
  background: #fff;
  padding: 31px;
}


.App-header {
  
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


